@font-face {
	font-family: coolmono;
	src: url(Fonts\\monospace.ttf);
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-image: src("Pictures\\Img3.jpg");
	background-color: #0f0c0d;
	opacity: 1;
	font-family: coolmono;
	color: #F9EDE0;
	margin: 65px;
	margin-top: 120px;
}

.bgimage {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

.art {
	height: 200px;
	width: 200px;
	margin: 30px;
	display: inline-block;
}

.art img {
	height: 200px;
	width: 200px;
}

.art figcaption {
	font-size: 10px;
}

.header {
	font-size: 65px;
}

.l {
	text-decoration: none;
	color: #F9EDE0;
	letter-spacing: 1px;
	padding: 3.5px;
}

.l:hover {
	color: white;
	text-decoration: underline;
	background-color: #281a1b;
}

.text {
	width: 500px;
	font-size: 15px;
}

.a {
	font-size: 10px;
	padding: 0px;
}

.current {
	text-decoration: underline;
	font-weight: 1px;
}

.textright {
	width: 500px;
	font-size: 15px;
	float: right;
}

.content {
	display: inline-block;
}

figure {
	width: 200px;
	margin: 0px;
	padding: 0px;
}

figure figcaption {
	width: 200px;
}

.niceinput {
	color: #F9EDE0;
	background-color: #0f0c0d;
	border: none;
	outline: none;
	font-family: coolmono;
	font-size: 15px;
}

textarea {
	color: #F9EDE0;
	background-color: #0f0c0d;
	border: none;
	outline: none;
	font-family: coolmono;
	font-size: 15px;
}

.submit {
	color: #F9EDE0;
	background-color: #0f0c0d;
	border: none;
	outline: none;
	font-family: coolmono;
	font-size: 15px;
}

.submit:hover {
	text-decoration: underline;
	background-color: #281a1b;
	cursor: pointer;
}

form {margin-left: 3px;}

.submission {border-style: solid; border-color: #F9EDE0; padding: 5px; width: 400px; margin-bottom: 15px;}